# Server
PORT=3001
NODE_ENV=development

# MongoDB Atlas
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster-url>/?retryWrites=true&w=majority
MONGO_DB_NAME=peerprep_dev_yourname

# Auth
JWT_SECRET=replace_me
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_me_too
JWT_REFRESH_EXPIRES_IN=7d

# Internal service auth
INTERNAL_SERVICE_TOKEN=replace_me_as_well

# Password hashing
BCRYPT_SALT_ROUNDS=10
