# server
PORT=3003
NODE_ENV=development

# mongodb atlas
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster-url>/?retryWrites=true&w=majority
MONGO_DB_NAME=peerprep_dev_matching

REDIS_URL=replace_me_with_redis_url
