PORT=3002
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster-url>/?retryWrites=true&w=majority
MONGO_DB_NAME=peerprep_dev_yourname
USER_SERVICE_URL=http://user-service:3001
INTERNAL_SERVICE_TOKEN=replace_me_internal_service_token