PORT=3004
MONGO_URI=mongodb+srv://<user>:<pass>@<cluster-url>/?retryWrites=true&w=majority
MONGO_DB_NAME=peerprep_dev_yourname

QUESTION_SERVICE_URL=your_question_service_url_here
INTERNAL_SERVICE_TOKEN=your_internal_service_token_here
